NODE_ENV=development
PORT=4000

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=vending_machine
MYSQL_USER=vending_user
MYSQL_PASSWORD=vending_pass

MONGO_URI=mongodb://mongodb:27017/vending_logs

JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1d

UPLOAD_DIR=src/uploads/products
PUBLIC_UPLOAD_BASE_URL=http://localhost:4000/uploads/products

PAYMENT_MODE=mock

MQTT_HOST=broker.hivemq.com
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_USE_TLS=false

FRONTEND_URL=http://localhost:3000
WHATSAPP_SUPPORT_URL=https://wa.me/55XXXXXXXXXXX
